table.listTable {
    border:1px solid #AEDEF2;
    border-collapse: collapse;
}
table.listTable tr.tableHead{
    width:100%;
    height:25px;
}

table.listTable tr.tableHead th{
    color: #0066CC;
    background-color:#AEDEF2;
    font-size:12px;
    border:1px solid #67C1E6;
}

table.listTable tr.tableBody1{
    width:100%;
    height:30px;
}

table.listTable tr.tableBody2{
    width:100%;
    height:30px;
}

table.listTable tr.tableBody1 td{
    border:1px solid #AEDEF2;
    background:#FFFFFF;
    font-size:12px;
    font-family: "宋体";
    color: #333333;
}

table.listTable tr.tableBody2 td{
    border:1px solid #AEDEF2;
    background:#DAF0F1;
    font-size:12px;
    font-family: "宋体";
    color: #333;
}

table.listTable tr.tableBody2 th{
    border:1px solid #AEDEF2;
    background:#FFFFFF;
    font-size:12px;
    font-family: "宋体";
    color: #333;
}

table.editTable{
    border:1px solid #AEDEF2;
    border-collapse: collapse;
}

table.editTable tr{
    width:100%;
    height:30px;
}

table.editTable th{
    color: #0066CC;
    background-color: #EEF6FE;
    font-size:12px;
    color:#0055BB;
    text-align:right;
    border:1px solid #AEDEF2;
}

table.editTable td{
    border:1px solid #AEDEF2;
    background:#FFFFFF;
    font-family: "宋体";
    color: #333333;
}